<br />

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header">Total Projects</div>
        <div class="card-body text-primary">
          <h5 class="card-title" style="text-align: center">
            {{ total_projects }}
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-warning mb-3">
        <div class="card-header">On Progress</div>
        <div class="card-body text-warning">
          <h5 class="card-title" style="text-align: center">{{ progress }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-success mb-3">
        <div class="card-header">Completed</div>
        <div class="card-body text-success">
          <h5 class="card-title" style="text-align: center">{{ completed }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
